langgraph==0.2.56
langchain-community
langchain-groq
langchain-anthropic
langchain-openai
langchain-ollama
langchain-nomic[local]
tiktoken 
langchainhub 
chromadb 
langchain-text-splitters
bs4
python-dotenv
sentence_transformers
langchain_experimental
matplotlib